{% extends 'base.html' %}

{% block content %}

<h1 class="title pt-5">Players List</h1>
<div class="gallery">
  {% for player in players %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{player.image}}" alt="{{player.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{player.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Players Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}