{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{team.img}}" alt="{{team.name}}" />
</div>
    <h1 class="title">{{team.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'team_update' team.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'team_delete' team.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__players mb-5">
        <h3 class="name is-3">Players</h3>
        <form class="mb-5" action="{% url 'player_create' team.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="name"
                        placeholder="Name"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="image"
                        placeholder="Photo"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="position"
                        placeholder="Position"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="nickname"
                        placeholder="Nickname"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="nationality"
                        placeholder="Nationality"
                        required
                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Player" />
                </div>
            </div>
        </form>
        {% for player in team.players.all %} 
        <div class="player">
            <span>{{forloop.counter}}</span>
            <span><b>{{player.name}}</b></span>
            <span>{{player.position}}</span>
        </div>
        {% empty %} 
        <article class="message">
            <div class="message-header">
                <p>No Players Available</p>
            </div>
        </article>

        {% endfor %}
    </div>
    <div class="detail__about">
        <h4 class="title is-4">Home Arena</h4>
        <p>{{team.arena}}</p>
    </div>
</div>

{% endblock %}